<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- O codigo abaixo exibe as opcoes de menu do sistema: Brands, Carros e clientes -->

<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">

    <!-- Opcao 1 do menu -->

    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link " href="/"> <i
                class="oi oi-home"></i> <span>Home</span>
        </a></li>
    </ul>

    <!-- Opcao 2 do menu -->

    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active">Brands</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/brands/register"> <i class="oi oi-plus"></i> <span>Register</span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/brands/list"> <i class="oi oi-list"></i>
            <span>List </span>
        </a></li>
    </ul>

    <!-- Opcao 3 do menu -->

    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active">Cars</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/cars/register"> <i class="oi oi-plus"></i> <span>Register </span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/cars/list"> <i
                class="oi oi-list"></i> <span>List </span>
        </a></li>
    </ul>

    <!-- Opcao 3 do menu -->

    <ul class="nav nav-pills">
        <li class="nav-item"><span class="nav-link active">Customers</span></li>
        <li class="nav-item"><a class="nav-link"
                                href="/customers/register"> <i class="oi oi-plus"></i> <span>Register </span>
        </a></li>
        <li class="nav-item"><a class="nav-link"
                                href="/customers/list"> <i class="oi oi-list"></i> <span>List </span>
        </a></li>
    </ul>
</nav>
</body>
</html>