<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-warning">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">About the System</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">About
							the Author </a>


					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">

							Customer Relationship Management demonstration system for car
							rental management. <br> The technology used: <a
								href="https://projects.spring.io/spring-boot/">Spring Boot</a>,
							<a href="https://projects.spring.io/spring-boot/">Spring JPA</a>,
							<a href="http://www.thymeleaf.org/">Thymeleaf</a>, <a
								href="https://www.webjars.org/">WebJars</a>, <a
								href="http://hibernate.org/orm/">Hibernate ORM</a> and <a
								href="https://getbootstrap.com/">Bootstrap</a>. <br> Main
							tools used: <a href="https://www.eclipse.org">Eclipse</a>, <a
								href="https://www.mysql.com/products/workbench/">Mysql
								WorkBeach</a>.

						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							Raul Lopes <br> <br> <a
								href="https://www.linkedin.com/in/raul-lopes/">Linkedin</a> <br>
							<a href="https://github.com/Raul-Lopes">GitHub</a>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>